In [23]:
import pandas as pd
import numpy as np
from scipy.stats import entropy

In [75]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [24]:
df= pd.read_csv("escolaridadeXSexoXsalario.csv")

In [21]:
# Frequências de pessoas do sexo feminino e masculino em cada faixa salarial
feminino = [100, 80, 60, 40, 20]  # Exemplo fictício
masculino = [120, 100, 80, 50, 30]  # Exemplo fictício

# Calcular a entropia para o sexo feminino e masculino
entropia_feminino = entropy(feminino, base=2)
entropia_masculino = entropy(masculino, base=2)

print("Entropia para o sexo feminino:", entropia_feminino)
print("Entropia para o sexo masculino:", entropia_masculino)

Entropia para o sexo feminino: 2.1492553971685
Entropia para o sexo masculino: 2.1794180678086437

In [22]:
entropy(feminino, base=2)

2.1492553971685

In [25]:
df.head()

,capital,faixa_remuneracao_media_sm,analfabeto,ate_5a_incompleto,5a_completo_fundamental,6a_a_9a_fundamental,fundamental_completo,medio_incompleto,medio_completo,superior_incompleto,superior_completo,mestrado,doutorado,sexo,ano
0,Porto Velho - RO,"00:ate_0,50",0.0,1.0,3.0,90.000,19.000,135.000,115.000,6.0,24.000,0.0,0.0,F,2010
1,Porto Velho - RO,"01:0,51_a_1,00",7.0,18.0,40.0,76.000,333.000,234.000,2.185,54.0,126.000,0.0,0.0,F,2010
2,Porto Velho - RO,"02:1,01_a_1,50",84.0,240.0,332.0,1.179,1.937,1.753,14.012,568.0,531.000,4.0,0.0,F,2010
3,Porto Velho - RO,"03:1,51_a_2,00",33.0,160.0,199.0,406.000,739.000,574.000,8.566,491.0,1.935,9.0,2.0,F,2010
4,Porto Velho - RO,"04:2,01_a_3,00",38.0,228.0,187.0,261.000,551.000,329.000,5.959,482.0,2.333,14.0,3.0,F,2010

In [27]:
df.iloc[:, 2:12]

,analfabeto,ate_5a_incompleto,5a_completo_fundamental,6a_a_9a_fundamental,fundamental_completo,medio_incompleto,medio_completo,superior_incompleto,superior_completo,mestrado
0,0.0,1.000,3.0,90.000,19.000,135.000,115.000,6.000,24.000,0.000
1,7.0,18.000,40.0,76.000,333.000,234.000,2.185,54.000,126.000,0.000
2,84.0,240.000,332.0,1.179,1.937,1.753,14.012,568.000,531.000,4.000
3,33.0,160.000,199.0,406.000,739.000,574.000,8.566,491.000,1.935,9.000
4,38.0,228.000,187.0,261.000,551.000,329.000,5.959,482.000,2.333,14.000
...,...,...,...,...,...,...,...,...,...,...
10363,36.0,1.088,555.0,1.955,3.161,921.000,35.177,2.664,8.814,198.000
10364,6.0,907.000,514.0,2.164,8.748,832.000,36.963,2.532,14.392,287.000
10365,3.0,276.000,218.0,940.000,3.255,466.000,15.341,1.863,31.902,445.000
10366,0.0,39.000,35.0,128.000,469.000,115.000,3.412,757.000,19.314,445.000
10367,0.0,126.000,42.0,232.000,710.000,220.000,4.495,691.000,41.407,1.266

In [28]:
df["total_pessoas_por_escolaridade"]=df.iloc[:, 1:12].sum(axis=1)

In [29]:
df.head()

,capital,faixa_remuneracao_media_sm,analfabeto,ate_5a_incompleto,5a_completo_fundamental,6a_a_9a_fundamental,fundamental_completo,medio_incompleto,medio_completo,superior_incompleto,superior_completo,mestrado,doutorado,sexo,ano,total_pessoas_por_escolaridade
0,Porto Velho - RO,"00:ate_0,50",0.0,1.0,3.0,90.000,19.000,135.000,115.000,6.0,24.000,0.0,0.0,F,2010,393.000
1,Porto Velho - RO,"01:0,51_a_1,00",7.0,18.0,40.0,76.000,333.000,234.000,2.185,54.0,126.000,0.0,0.0,F,2010,890.185
2,Porto Velho - RO,"02:1,01_a_1,50",84.0,240.0,332.0,1.179,1.937,1.753,14.012,568.0,531.000,4.0,0.0,F,2010,1777.881
3,Porto Velho - RO,"03:1,51_a_2,00",33.0,160.0,199.0,406.000,739.000,574.000,8.566,491.0,1.935,9.0,2.0,F,2010,2621.501
4,Porto Velho - RO,"04:2,01_a_3,00",38.0,228.0,187.0,261.000,551.000,329.000,5.959,482.0,2.333,14.0,3.0,F,2010,2098.292

In [101]:
#sera que nas regioes do brasil conseguimos enxergar uma dificuldade maior de se ter mulheres em faixas salarias especificas?

#df_regiao= df[["capital","faixa_remuneracao_media_sm","sexo","ano","total_pessoas_por_escolaridade"]]
df_regiao = pd.pivot_table(df, values='total_pessoas_por_escolaridade', index=['capital', 'faixa_remuneracao_media_sm',"ano"],
                       columns=['sexo'], aggfunc="sum")
df_regiao.reset_index(inplace=True)
df_regiao["proporcao_f"] = df_regiao["F"]/(df_regiao["F"]+df_regiao["M"])
df_regiao["proporcao_m"] = df_regiao["M"]/(df_regiao["F"]+df_regiao["M"])
df_regiao['entropia_F_em_relacao_a_M'] = (df_regiao['proporcao_f'] * np.log(1/df_regiao['proporcao_f'])) + (df_regiao['proporcao_m'] * np.log(1/df_regiao['proporcao_m']))

df_regiao_entropia= df_regiao
df_regiao_entropia.head()

sexo,capital,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
0,Aracaju - SE,"00:ate_0,50",2006,460.0,439.0,0.511680,0.488320,0.692874
1,Aracaju - SE,"00:ate_0,50",2007,454.0,580.0,0.439072,0.560928,0.685704
2,Aracaju - SE,"00:ate_0,50",2008,738.0,740.0,0.499323,0.500677,0.693146
3,Aracaju - SE,"00:ate_0,50",2009,864.0,840.0,0.507042,0.492958,0.693048
4,Aracaju - SE,"00:ate_0,50",2010,878.0,918.0,0.488864,0.511136,0.692899

In [117]:
#Sera que em algum estado temos uma dificuldade maior de encontrar mulheres no mercado de trabalho?
#df_capital = df[["capital","sexo","ano","total_pessoas_por_escolaridade"]]
df_capital = pd.pivot_table(df, values='total_pessoas_por_escolaridade', index=['capital',"ano"],
                       columns=['sexo'], aggfunc="sum")
df_capital.reset_index(inplace=True)
df_capital["proporcao_f"] = df_capital["F"]/(df_capital["F"]+df_capital["M"])
df_capital["proporcao_m"] = df_capital["M"]/(df_capital["F"]+df_capital["M"])
df_capital['entropia_F_em_relacao_a_M'] = (df_capital['proporcao_f'] * np.log(1/df_capital['proporcao_f'])) + (df_capital['proporcao_m'] * np.log(1/df_capital['proporcao_m']))

#df_capital.head(10)
df_capital.loc[df_capital["capital"] == "São Paulo - SP"].sort_values(by=["ano"])

#nao tem uma entropia significativa para afirmar a desigualdade populacional trabalhadora por genero

#resultado = df_capital.groupby('capital')['entropia_F_em_relacao_a_M'].mean().reset_index()
#resultado

sexo,capital,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
384,São Paulo - SP,2006,15147.380,14668.411,0.508032,0.491968,0.693018
385,São Paulo - SP,2007,16414.685,13392.701,0.550692,0.449308,0.687999
386,São Paulo - SP,2008,16648.208,17455.019,0.488171,0.511829,0.692867
387,São Paulo - SP,2009,17202.305,14051.980,0.550398,0.449602,0.688059
388,São Paulo - SP,2010,15769.791,14042.403,0.528971,0.471029,0.691468
389,São Paulo - SP,2011,14704.314,15726.516,0.483205,0.516795,0.692583
390,São Paulo - SP,2012,16431.060,13556.798,0.547924,0.452076,0.688547
391,São Paulo - SP,2013,17712.489,14919.932,0.542788,0.457212,0.689481
392,São Paulo - SP,2014,17038.272,16273.982,0.511472,0.488528,0.692884
393,São Paulo - SP,2015,16875.251,14315.515,0.541034,0.458966,0.689776
394,São Paulo - SP,2016,13250.230,14304.597,0.480868,0.519132,0.692415
395,São Paulo - SP,2017,14146.931,13713.220,0.507784,0.492216,0.693026
396,São Paulo - SP,2018,14213.274,12681.543,0.528476,0.471524,0.691525
397,São Paulo - SP,2019,13863.580,13274.935,0.510845,0.489155,0.692912
398,São Paulo - SP,2020,13700.789,12357.700,0.525771,0.474229,0.691818
399,São Paulo - SP,2021,14214.588,13381.919,0.515086,0.484914,0.692692

In [120]:
#sera q as proporções por estado tem uma diferenca se olharmos media ou mediana?
df_capital.groupby('capital')['proporcao_f','proporcao_m'].median().reset_index()
#sim, temo alguns estados q tem uma diferenca percentual significativa "a olhos"

/var/folders/7z/98kf6nzs505d1y91nml4ff2wzx529r/T/ipykernel_1258/2053592563.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_capital.groupby('capital')['proporcao_f','proporcao_m'].median().reset_index()

sexo              capital  proporcao_f  proporcao_m
0            Aracaju - SE     0.445980     0.554020
1     Belo Horizonte - MG     0.482614     0.517386
2              Belém - PA     0.467268     0.532732
3          Boa Vista - RR     0.409654     0.590346
4           Brasília - DF     0.472910     0.527090
5       Campo Grande - MS     0.465559     0.534441
6             Cuiabá - MT     0.432247     0.567753
7           Curitiba - PR     0.475564     0.524436
8      Florianópolis - SC     0.436970     0.563030
9          Fortaleza - CE     0.433528     0.566472
10           Goiânia - GO     0.439573     0.560427
11       João Pessoa - PB     0.466681     0.533319
12            Macapá - AP     0.432847     0.567153
13            Maceió - AL     0.441288     0.558712
14            Manaus - AM     0.470248     0.529752
15             Natal - RN     0.434843     0.565157
16            Palmas - TO     0.427689     0.572311
17      Porto Alegre - RS     0.498767     0.501233
18       Porto Velho - RO     0.434298     0.565702
19            Recife - PE     0.476493     0.523507
20        Rio Branco - AC     0.449921     0.550079
21    Rio de Janeiro - RJ     0.503399     0.496601
22          Salvador - BA     0.467050     0.532950
23          São Luiz - MA     0.401062     0.598938
24         São Paulo - SP     0.520429     0.479571
25          Terezina - PI     0.436866     0.563134
26           Vitória - ES     0.428251     0.571749

In [121]:
#e se olharmos para os ultimos 3 anos de base?
#sera q as proporções por estado tem uma diferenca se olharmos media ou mediana?
df_capital_last_3y=df_capital[df_capital["ano"]>=2020]
df_capital_last_3y.groupby('capital')['proporcao_f','proporcao_m'].median().reset_index()
#sim, temo alguns estados q tem uma diferenca percentual, aqui o valor max de + homens é maior

/var/folders/7z/98kf6nzs505d1y91nml4ff2wzx529r/T/ipykernel_1258/1256646594.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_capital_last_3y.groupby('capital')['proporcao_f','proporcao_m'].median().reset_index()

sexo              capital  proporcao_f  proporcao_m
0            Aracaju - SE     0.437493     0.562507
1     Belo Horizonte - MG     0.482614     0.517386
2              Belém - PA     0.473045     0.526955
3          Boa Vista - RR     0.410011     0.589989
4           Brasília - DF     0.472072     0.527928
5       Campo Grande - MS     0.477752     0.522248
6             Cuiabá - MT     0.459294     0.540706
7           Curitiba - PR     0.460771     0.539229
8      Florianópolis - SC     0.486770     0.513230
9          Fortaleza - CE     0.512212     0.487788
10           Goiânia - GO     0.465387     0.534613
11       João Pessoa - PB     0.439472     0.560528
12            Macapá - AP     0.414916     0.585084
13            Maceió - AL     0.441418     0.558582
14            Manaus - AM     0.423925     0.576075
15             Natal - RN     0.478411     0.521589
16            Palmas - TO     0.453274     0.546726
17      Porto Alegre - RS     0.419332     0.580668
18       Porto Velho - RO     0.439388     0.560612
19            Recife - PE     0.499220     0.500780
20        Rio Branco - AC     0.373823     0.626177
21    Rio de Janeiro - RJ     0.479457     0.520543
22          Salvador - BA     0.457460     0.542540
23          São Luiz - MA     0.408130     0.591870
24         São Paulo - SP     0.520429     0.479571
25          Terezina - PI     0.467049     0.532951
26           Vitória - ES     0.416608     0.583392

In [119]:
#vou tentar fazer por faixa salaria só 


df_faixa = pd.pivot_table(df, values='total_pessoas_por_escolaridade', index=['faixa_remuneracao_media_sm',"ano"],
                       columns=['sexo'], aggfunc="sum")
df_faixa.reset_index(inplace=True)
df_faixa["proporcao_f"] = df_faixa["F"]/(df_faixa["F"]+df_faixa["M"])
df_faixa["proporcao_m"] = df_faixa["M"]/(df_faixa["F"]+df_faixa["M"])
df_faixa['entropia_F_em_relacao_a_M'] = (df_faixa['proporcao_f'] * np.log(1/df_faixa['proporcao_f'])) + (df_faixa['proporcao_m'] * np.log(1/df_faixa['proporcao_m']))
df_faixa.head(10)
#resultado = df_faixa.groupby('faixa_remuneracao_media_sm')['entropia_F_em_relacao_a_M'].median().reset_index()
#resultado

sexo,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
0,"00:ate_0,50",2006,17487.264,17357.121,0.501867,0.498133,0.693140
1,"00:ate_0,50",2007,20129.127,20231.213,0.498735,0.501265,0.693144
2,"00:ate_0,50",2008,20087.525,20365.230,0.496568,0.503432,0.693124
3,"00:ate_0,50",2009,21112.641,21216.429,0.498774,0.501226,0.693144
4,"00:ate_0,50",2010,23328.522,22648.540,0.507395,0.492605,0.693038
5,"00:ate_0,50",2011,24167.811,23099.893,0.511296,0.488704,0.692892
6,"00:ate_0,50",2012,24951.242,23663.793,0.513241,0.486759,0.692796
7,"00:ate_0,50",2013,25319.941,26800.137,0.485800,0.514200,0.692744
8,"00:ate_0,50",2014,25693.694,28476.031,0.474318,0.525682,0.691828
9,"00:ate_0,50",2015,25713.728,25837.184,0.498803,0.501197,0.693144

In [110]:
df_faixa
df_faixa.loc[df_faixa["faixa_remuneracao_media_sm"] == "11:mais_de_20,00"].sort_values(by=["ano"])

sexo,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
176,"11:mais_de_20,00",2006,15506.601,27628.111,0.359492,0.640508,0.653126
177,"11:mais_de_20,00",2007,16390.145,26695.240,0.380411,0.619589,0.664265
178,"11:mais_de_20,00",2008,15399.288,27121.498,0.362159,0.637841,0.654650
179,"11:mais_de_20,00",2009,17946.755,25725.977,0.410937,0.589063,0.677198
180,"11:mais_de_20,00",2010,15496.917,24272.432,0.389670,0.610330,0.668600
181,"11:mais_de_20,00",2011,14713.060,26161.224,0.359959,0.640041,0.653395
182,"11:mais_de_20,00",2012,14666.541,20001.197,0.423060,0.576940,0.681261
183,"11:mais_de_20,00",2013,14923.175,19073.412,0.438961,0.561039,0.685677
184,"11:mais_de_20,00",2014,14898.745,20034.166,0.426496,0.573504,0.682302
185,"11:mais_de_20,00",2015,14254.132,18394.366,0.436594,0.563406,0.685085
186,"11:mais_de_20,00",2016,14785.786,15278.243,0.491810,0.508190,0.693013
187,"11:mais_de_20,00",2017,14995.438,13982.646,0.517475,0.482525,0.692536
188,"11:mais_de_20,00",2018,12882.473,13705.329,0.484526,0.515474,0.692668
189,"11:mais_de_20,00",2019,14668.593,14082.878,0.510186,0.489814,0.692940
190,"11:mais_de_20,00",2020,13718.005,13365.621,0.506505,0.493495,0.693063
191,"11:mais_de_20,00",2021,14935.249,14127.360,0.513899,0.486101,0.692761

In [112]:
df_faixa.loc[df_faixa["faixa_remuneracao_media_sm"] == '01:0,51_a_1,00'].sort_values(by=["ano"])

sexo,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
16,"01:0,51_a_1,00",2006,47263.943,57818.654,0.449779,0.550221,0.688094
17,"01:0,51_a_1,00",2007,52783.995,52168.088,0.502934,0.497066,0.693130
18,"01:0,51_a_1,00",2008,52676.060,56851.595,0.480938,0.519062,0.692420
19,"01:0,51_a_1,00",2009,49426.653,58661.986,0.457279,0.542721,0.689493
20,"01:0,51_a_1,00",2010,52106.571,59831.713,0.465494,0.534506,0.690764
21,"01:0,51_a_1,00",2011,52559.755,60997.367,0.462849,0.537151,0.690384
22,"01:0,51_a_1,00",2012,51527.147,52572.181,0.494981,0.505019,0.693097
23,"01:0,51_a_1,00",2013,52219.784,61949.994,0.457387,0.542613,0.689511
24,"01:0,51_a_1,00",2014,49405.397,58549.329,0.457649,0.542351,0.689556
25,"01:0,51_a_1,00",2015,47876.131,54381.698,0.468190,0.531810,0.691122
26,"01:0,51_a_1,00",2016,49124.926,56605.375,0.464625,0.535375,0.690642
27,"01:0,51_a_1,00",2017,48429.706,54529.950,0.470376,0.529624,0.691391
28,"01:0,51_a_1,00",2018,48038.610,53618.444,0.472556,0.527444,0.691640
29,"01:0,51_a_1,00",2019,47606.919,51943.030,0.478221,0.521779,0.692198
30,"01:0,51_a_1,00",2020,49946.021,51658.964,0.491571,0.508429,0.693005
31,"01:0,51_a_1,00",2021,48315.974,56504.004,0.460942,0.539058,0.690093

In [111]:
df_faixa["faixa_remuneracao_media_sm"].unique()

array(['00:ate_0,50', '01:0,51_a_1,00', '02:1,01_a_1,50',
       '03:1,51_a_2,00', '04:2,01_a_3,00', '05:3,01_a_4,00',
       '06:4,01_a_5,00', '07:5,01_a_7,00', '08:7,01_a_10,00',
       '09:10,01_a_15,00', '10:15,01_a_20,00', '11:mais_de_20,00'],
      dtype=object)

In [84]:
df_regiao.loc[df_regiao["capital"] == "São Paulo - SP"].sort_values(by=["ano", "faixa_remuneracao_media_sm"]).head()

sexo,capital,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
4608,São Paulo - SP,"00:ate_0,50",2006,1607.218,1237.112,0.565060,0.434940,0.684657
4624,São Paulo - SP,"01:0,51_a_1,00",2006,785.099,1400.761,0.359172,0.640828,0.652940
4640,São Paulo - SP,"02:1,01_a_1,50",2006,1134.530,954.581,0.543068,0.456932,0.689433
4656,São Paulo - SP,"03:1,51_a_2,00",2006,1280.753,478.825,0.727875,0.272125,0.585361
4672,São Paulo - SP,"04:2,01_a_3,00",2006,962.950,727.945,0.569491,0.430509,0.683458

In [61]:
f= entropy([0.511680, 1 - 0.488320], base=2)
f

1.0

In [66]:

ex_surpresa = (6/7) * np.log(1/(6/7)) + (1/7) * np.log(1/(1/7))
ex_surpresa

0.410116318288409

In [69]:
import numpy as np

proporcao_f = 460 / (460 + 439)  # Proporção de mulheres
proporcao_m = 439 / (460 + 439)  # Proporção de homens

ex_surpresa = (proporcao_f * np.log(1/proporcao_f)) + (proporcao_m * np.log(1/proporcao_m))
ex_surpresa

0.6928743275725713

In [71]:
proporcao_f
proporcao_m

0.4883203559510567

In [ ]:
############# Entropia nao nos deu uma boa discriminação

##Apesar de quando olhamos proporcoes a gente ve claramente uma diferenca entre homens e mulheres em faixas salarias

##vamos tentar por outras abordagens estatisticas

In [122]:
#qui-quadrado

from scipy.stats import chi2_contingency

In [123]:
#vou usar primeiro a tabela com as faixas salariais 

df_faixa.head()

sexo,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
0,"00:ate_0,50",2006,17487.264,17357.121,0.501867,0.498133,0.693140
1,"00:ate_0,50",2007,20129.127,20231.213,0.498735,0.501265,0.693144
2,"00:ate_0,50",2008,20087.525,20365.230,0.496568,0.503432,0.693124
3,"00:ate_0,50",2009,21112.641,21216.429,0.498774,0.501226,0.693144
4,"00:ate_0,50",2010,23328.522,22648.540,0.507395,0.492605,0.693038

In [127]:
tabela_contingencia = df_faixa[['proporcao_f', 'proporcao_m']].values
# Realize o teste qui-quadrado de independência.
chi2, p_valor, _, _ = chi2_contingency(tabela_contingencia)
# Imprima o valor de chi-quadrado e o p-valor.
print("Valor de chi-quadrado:", chi2)
print("P-valor:", p_valor)

Valor de chi-quadrado: 1.9815984739626522
P-valor: 1.0

In [131]:
df.head()

,capital,faixa_remuneracao_media_sm,analfabeto,ate_5a_incompleto,5a_completo_fundamental,6a_a_9a_fundamental,fundamental_completo,medio_incompleto,medio_completo,superior_incompleto,superior_completo,mestrado,doutorado,sexo,ano,total_pessoas_por_escolaridade
0,Porto Velho - RO,"00:ate_0,50",0.0,1.0,3.0,90.000,19.000,135.000,115.000,6.0,24.000,0.0,0.0,F,2010,393.000
1,Porto Velho - RO,"01:0,51_a_1,00",7.0,18.0,40.0,76.000,333.000,234.000,2.185,54.0,126.000,0.0,0.0,F,2010,890.185
2,Porto Velho - RO,"02:1,01_a_1,50",84.0,240.0,332.0,1.179,1.937,1.753,14.012,568.0,531.000,4.0,0.0,F,2010,1777.881
3,Porto Velho - RO,"03:1,51_a_2,00",33.0,160.0,199.0,406.000,739.000,574.000,8.566,491.0,1.935,9.0,2.0,F,2010,2621.501
4,Porto Velho - RO,"04:2,01_a_3,00",38.0,228.0,187.0,261.000,551.000,329.000,5.959,482.0,2.333,14.0,3.0,F,2010,2098.292

In [136]:

df_faixa_test_qui= df[["faixa_remuneracao_media_sm","sexo","ano"]]
df_faixa_test_qui.head()

  faixa_remuneracao_media_sm sexo   ano
0                00:ate_0,50    F  2010
1             01:0,51_a_1,00    F  2010
2             02:1,01_a_1,50    F  2010
3             03:1,51_a_2,00    F  2010
4             04:2,01_a_3,00    F  2010

O valor significativamente baixo do p-valor (0.0) indica que há uma forte evidência estatística para rejeitar a hipótese nula de independência entre sexo e faixa salarial. Isso sugere que a diferença nas quantidades absolutas de homens e mulheres em cada faixa salarial é estatisticamente significativa, e que há uma associação entre sexo e faixa salarial.

Portanto, com base nesses resultados, é possível concluir que um sexo ganha mais que o outro em termos absolutos, considerando a distribuição das quantidades de homens e mulheres em diferentes faixas salariais.

In [129]:
df_faixa.head()

sexo,faixa_remuneracao_media_sm,ano,F,M,proporcao_f,proporcao_m,entropia_F_em_relacao_a_M
0,"00:ate_0,50",2006,17487.264,17357.121,0.501867,0.498133,0.693140
1,"00:ate_0,50",2007,20129.127,20231.213,0.498735,0.501265,0.693144
2,"00:ate_0,50",2008,20087.525,20365.230,0.496568,0.503432,0.693124
3,"00:ate_0,50",2009,21112.641,21216.429,0.498774,0.501226,0.693144
4,"00:ate_0,50",2010,23328.522,22648.540,0.507395,0.492605,0.693038

In [ ]:
#criando tabela de contingencia para faixa salarial
chi_conti= pd.crosstab()

In [128]:
#teste qui quadrado F e M
tabela_contingencia = df_faixa[['F', 'M']].values
# Realize o teste qui-quadrado de independência.
chi2, p_valor, _, _ = chi2_contingency(tabela_contingencia)
# Imprima o valor de chi-quadrado e o p-valor.
print("Valor de chi-quadrado:", chi2)
print("P-valor:", p_valor)

Valor de chi-quadrado: 129758.83366532039
P-valor: 0.0

In [130]:
#teste qui quadrado proporcoes F e M 
tabela_contingencia = df_faixa[['proporcao_f', 'proporcao_m']].values
# Realize o teste qui-quadrado de independência.
chi2, p_valor, _, _ = chi2_contingency(tabela_contingencia)
# Imprima o valor de chi-quadrado e o p-valor.
print("Valor de chi-quadrado:", chi2)
print("P-valor:", p_valor)

Valor de chi-quadrado: 1.9815984739626522
P-valor: 1.0